.container1{
    border: 2px solid #00203FFF;
    background-color: #ADEFD1FF;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    
}
.container2{
    border: 2px solid #ADEFD1FF;
    background-color: #00203FFF;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    
}
.conts{
    
        background-color: aliceblue;
        padding: 5px;
        width: 50%;
        border-radius: 5px;
        display: inline-block;
        margin: 20%;
        margin-top: 5%;
    
    }
    a{
        color: #ADEFD1FF;
    }
    a:hover{
        color: blueviolet;
    }
